/* Bannière principale avec un dégradé harmonisé */
.banner {
    background: linear-gradient(90deg, #49a580, #333); /* Dégradé vert émeraude vers anthracite */
    color: white; /* Couleur du texte blanche pour contraste */
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    border-bottom: 3px solid #49a580; /* Petite bordure verte pour plus de cohérence */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre subtile pour donner de la profondeur */
    position: relative;
    z-index: 1000;
    font-family: 'Lora', serif; /* Utilisation d'une police élégante */
  }
  
  /* Animation subtile pour l'apparition de la bannière */
  .banner h2 {
    animation: slideIn 1s ease;
    margin: 0;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }